*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    color: white;
    background-color: rgb(36, 190, 211);
}
.container{
    max-width: 900px;
    margin: auto;
}
.squares{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
}
.sq{
    width: 5rem;
    height: 5rem;
    background-color: rgb(27, 56, 203);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sq_3{
    width: 5rem;
    height: 5rem;
    background-color: rgb(53, 78, 81);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sq_5{
    width: 5rem;
    height: 5rem;
    background-color: rgb(109, 184, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sq_3_5{
    width: 5rem;
    height: 5rem;
    background-color: rgb(26, 201, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}